.contact__list {
  list-style: none;
  @include rem-fallback(margin-bottom, 20);
  @include rem-fallback(margin-top, 20);
  text-align: center;
  padding: 0;
}

.contact__list--item {
  display: inline-block;
  font-size: 32px;
  @include rem-fallback(margin-right, 30);

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.contact__list--link {
  opacity: 0.8;
  color: $color-white-white;
  background-color: $color-dark-blue;
  border: 2px solid $color-dark-blue;
  @include rem-fallback(border-radius, 30);
  display: inline-block;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
    border: 2px solid $color-dark-grey;
    opacity: 1;
  }
}
