.contact__list {
  list-style: none;
  @include rem-fallback(margin-bottom, 20);
  @include rem-fallback(margin-top, 20);
  text-align: center;
  padding: 0;

}

.contact__list--item {
  opacity: 0.8;
  font-size: 32px;
  color: $color-dark-grey;
  display: inline-block;
  @include rem-fallback(margin-right, 5);

  &:last-child {
      @include rem-fallback(margin-right, 0);
  }

  &:hover {
    opacity: 1;
    border-bottom: 1px solid $color-light-blue;
  }
}
