.svg--toplogo {
  height: 200px;
  width: 200px;
}

.ovaler {
    &__one {
      fill: $color-light-blue;
      opacity: 0.7;
    }
    &__two {
      fill: $color-light-green;
      opacity: 0.7;
    }
    &__three {
      fill: $color-light-pink;
      opacity: 0.7;
    }
}

.divider-container {
  text-align: center;
}

.divider-svg {
  @include rem-fallback(height, 80);
  @include rem-fallback(width, 30);
  margin: 0 auto;
}

.divider--projects {
  fill: $color-light-blue;
  opacity: 0.7;
  @include rem-fallback(margin-top, -40);
}
.divider--thewall {
  fill: $color-light-pink;
  opacity: 0.7;
}
.divider--about {
  fill: $color-light-green;
  opacity: 0.7;
}

.top-left-svg-icon {
  @include rem-fallback(height, 50);
  @include rem-fallback(width, 50);
  position: absolute;
  left: 0;
  top: 0;
}
.bottom-right-svg-icon {
  @include rem-fallback(height, 50);
  @include rem-fallback(width, 50);
  position: absolute;
  right: 0;
  bottom: 0;
}

.paragraf-svg {
  fill: $color-dark-blue;
}
