.svg--toplogo {
  height: 200px;
  width: 200px;
}

.ovaler {
    &__one {
      fill: $color-light-blue;
      opacity: 0.7;
    }
    &__two {
      fill: $color-light-pink;
      opacity: 0.7;
    }
    &__three {
      fill: $color-light-pink;
      opacity: 0.7;
    }
}
