.tags__list--teaser {
  @include rem-fallback(margin-top, 0);
  @include rem-fallback(margin-right, 0);
  @include rem-fallback(margin-bottom, 0);
  @include rem-fallback(margin-left, 20);
  padding: 0;
  display: inline-block;
}

.tags__item--teaser {
  list-style: none;
  display: inline-block;
  @include rem-fallback(margin-right, 5);
  @include rem-fallback(margin-bottom, 5);

  a {
    color: $color-white-white;
    text-decoration: none;
    font-weight: 400;
    background-color: $color-dark-blue;
    @include rem-fallback(margin, 2);
    @include rem-fallback(border-radius, 30);
    @include rem-fallback(padding-left, 7);
    @include rem-fallback(padding-right, 7);
    @include rem-fallback(padding-top, 4);
    @include rem-fallback(padding-bottom, 4);

    &:focus {
      outline: none;
      margin: 0;
      @include rem-fallback(padding-left, 7);
      @include rem-fallback(padding-right, 7);
      @include rem-fallback(padding-top, 4);
      @include rem-fallback(padding-bottom, 4);
      border: 2px solid $color-light-green;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }
}
