%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

%container {
  margin: 0 auto;
  max-width: $max-width;
}

.nonetextref {
  text-decoration: none;
}

.paragraf {
  @include rem-fallback(margin, 15);
}
