// Colors


// Fonts
$font-family-monospace: ;
$font-family-sans-serif: ;
$font-family-serif: ;

// Base
$base-background-color: ;
$base-text-color: ;
$base-link-color: ;
$base-link-color--hover: ;
$base-spacing: ;
$base-font-family: ;
$base-font-size: 18px;
$base-line-height: ;

// Headings
$heading-font-family: ;
$heading-line-height: ;
$heading-color: ;

$h1-font-size: 38;
$h2-font-size: 30;
$h3-font-size: 24;
$h4-font-size: 20;
$h5-font-size: 18;
$h6-font-size: 16;

// Breakpoints
$mq-medium: ;
$mq-large: ;
$max-width: ;

//Article headers
$h1-font-size-article: 28;
$h2-font-size-article: 26;
$h3-font-size-article: 24;
$h4-font-size-article: 20;
$h5-font-size-article: 18;
$h6-font-size-article: 16;
