.article-teaser__body {
  @include rem-fallback(margin-left, 10);
  @include rem-fallback(margin-right, 10);
}

.article-teaser--projects {
  @include rem-fallback(margin-bottom, 45);
}

.article-teaser__link {
  text-decoration: none;
  color: inherit;

}
.article-teaser__title {
  display: inline-block;
  @include rem-fallback(margin-left, 10);
  @include rem-fallback(margin-right, 10);
  @include rem-fallback(margin-top, 0);
  @include rem-fallback(margin-bottom, 10);
}

.article-teaser__titlewrapper {
  @include rem-fallback(margin-bottom, 10);
}
