.article-teaser__body {
  @include rem-fallback(margin-left, 10);
  @include rem-fallback(margin-right, 10);
}

.article-teaser--projects {
  text-align: center;
  @include rem-fallback(margin-bottom, 45);
}

.article-teaser__link {
  text-decoration: none;
  color: inherit;

}
.article-teaser__title--projects {
  @include rem-fallback(margin-top, 10);
  @include rem-fallback(margin-bottom, 10);
}
.article-teaser__title--thewall {
  @include rem-fallback(margin, 10);
}
