.section__content {
  @extend %clearfix;
  @extend %container;
  @include rem-fallback(margin-top, 20);
  @include rem-fallback(margin-bottom, 20);
}

.section__heading {
  text-align: center;
  @include rem-fallback(margin-bottom, 50);
}
.section__heading--teaser {
  position: relative;
  @include rem-fallback(margin, 10);
  @include rem-fallback(padding, 5);
  font-weight: 400;
  font-style: italic;
  color: $color-light-black;
  @include font-size($h5-font-size);
}
